/* Card */
.card{
    width:50%;
    margin-top:25px;
  }
  
  @media only screen and (max-width: 800px) {
    .Referral {
      flex-direction:column;
    }
    .card{
      width:100%;
    }
  }
  
  
  .card button{
    margin-top:35px;
    margin-bottom:37px; 
    width:180px;
    height:40px;
    margin-left:auto;
    margin-right:auto;
    border-radius:20px;
    color:white;
    background-color: #800080;
    border:none;
  }
  
  
  .desc{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
  }
  
  .desc ul{
    margin-top:20px;
  }
  
  .desc ul li{
    list-style-type:none;
  }
  
  .desc ul .txt{
    color:black;
  }
  
  /* Referral Code */
  
  .referral-code {
    margin-left:15%;
    line-height: 67px;
  }
  
  .referral-code .referral-desc{
   font-weight:600;
   size:24px;
  }
  
  .referral-code .code{
    border:1px solid #800080 ; 
    letter-spacing: 14px;
    height:60px;
    width:200px;
    border-radius:5px;
    text-align:center;
  }
  
  @media screen and (max-width: 800px) and (min-width: 500px) {
    .referral-code {
      margin-left:19%;
    }
  }
  