*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family:poppins;
  font-weight:500;
  font-size:18px;
  color:#800080;
}

/* Nav Style */
.Navbar{
  background-color:#FFFFFF;
  height:73.03px;
}

.nav-items a{
  margin-left:20px;
  color: rgba(128, 0, 128, 0.25);
}

.nav-items a:hover,.nav-items a:focus{
  color: rgba(128, 0, 128, 0.25);
}

.nav-items .profile{
  color:#800080;
  
}

.nav-items span{
  margin-right:5px;
  margin-top:-14px;
  color:#800080;
}

/* ui */
.ui{
  margin-top:30px;
  margin-left:10%;
  color:black;
}

/* Referral */
.Referral{
  display:flex;
  flex-wrap:wrap;
  width:80%;
  margin-left:auto;
  margin-right:auto;
}

/* Footer */

.footer p{
  margin-top:20px;
  margin-left:10%;
}



